<% include head.html %>
    <body>
        <a class="sr-only" href="#content">Skip navigation</a>

        <!-- Docs master nav -->
        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/project" class="navbar-brand">建筑管理系统</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li  class="active">
                <a href="/project">进度管理</a>
                </li>
                <li>
                <a href="/quality">质量管理</a>
                </li>
                <li>
                <a href="/secure">安全管理</a>
                </li>
            </ul>
            </nav>
        </div>
        </header>


