<% include header.html %>

<link href="/assets/css/filter.css" rel="stylesheet">
<script src="/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="http://res.sentsin.com/lay/lib/layer/layer.min.js?v=1.8.5"></script>


<script>
	var socket_m = io.connect("<%=url%>");
	socket_m.on('news', function (data) {
		console.log(data);
		$("#sendarea").append(data + "\n");
	});

	$(document).ready(function(){
		$("#bt").click(function(){
			$.layer({
			    type: 2,
			    border: [0],
			    title: false,
			    shadeClose: true,
			    closeBtn: false,
			    iframe: {src : '/task'},
			    area: ['860px', '800px']
			});	
		});
		
		$("[id = task]").click(function(){
			var name = $(this).attr("name");
			$.layer({
			    type: 2,
			    border: [0],
			    title: false,
			    shadeClose: true,
			    closeBtn: false,
			    iframe: {src : '/task/show?id='+name},
			    area: ['860px', '800px']
			});	
		});
	});
</script>


<!-- Callout for the old docs link -->
<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-3">
			<div class="bs-docs-sidebar hidden-print affix-top" role="complementary">

				<!-- <ul class="nav bs-sidenav"> -->
					<ul class="nav bs-sidenav">

						<form action="/project/create" method="get">
							<div class="alert alert-info" role="alert">
								工程列表
								<div class="input-group">
									<input type="text" class="form-control" name="name"/>
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default submit">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</span>
								</div><!-- /input-group -->
							</div>
						</form>
						<li class="active">
						<ul class="nav">
							<% for (x in rows) {%>
							<li class="">
							<a href="#overview-doctype"><%=rows[x].name %></a>
							</li>
							<% } %>
						</ul>
						</li>
					</ul>
				</div>
			</div>


	<!-- begin -->
	<div class="col-md-9" role="main">

		<div class="page-header">
			<h1 id="download">工程</h1>

		</div>
		
		<div class="row">

			<div class="col-md-11 panel panel-default">
				<div class="container">
					<button type="button" class="btn btn-primary">Primary</button>
					<button type="button" class="btn btn-success">Success</button>
					<button type="button" class="btn btn-info">Info</button>
					<button type="button" class="btn btn-warning">Warning</button>
					<button type="button" class="btn btn-danger">Danger</button>
				</div>
			</div>

			<div class="col-md-1">
					<input type="hidden" name="project_id"  value="123" />
					<span class="input-group-btn">
						<button id="bt" type="submit" class="btn btn-default submit">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</span>
			</div>
		</div>

		<div class="row panel panel-default">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#res" data-toggle="tab">任务</a></li>
				<li><a href="#res1" data-toggle="tab">功能属性</a></li>
			</ul>
			 <div class="tab-content tip-example">
				 <div class="tab-pane active" id="res">
					 <table class="table table-hover">
						 <thead>
							 <tr>
								 <th>#</th>
								 <th>任务名</th>
								 <th>任务人</th>
								 <th>开始时间</th>
								 <th>结束时间</th>
								 <th>-</th>
							 </tr>
						 </thead>
						 <tbody>
							 <%for (x in taskrows) { %>
							 <tr class="">
								 <td><%=x%></td>
								 <td><a name="<%=taskrows[x].id%>" id="task"><%=taskrows[x].name%></a></td>
								 <td><%=taskrows[x].people%></td>
								 <td><%=taskrows[x].start%></td>
								 <td><%=taskrows[x].end%></td>
								 <td>del</td>
							 </tr>
							 <%}%>
						 </tbody>
					 </table>
				 </div>	

				<div class="tab-pane" id="res1">
					12
				</div>
			</div>
		</div>       

	</div>
</div>

<% include footer.html %>
