<% include header.html %>

<link href="/assets/css/filter.css" rel="stylesheet">
<script src="/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
<script>
	var socket_m = io.connect("<%=url%>");
	socket_m.on('news', function (data) {
		console.log(data);
		$("#sendarea").append(data + "\n");
	});

	$(document).ready(function(){
		$("#send").click(function(){
			var data = new Array();
			socket_m.emit('message', { my: $("#sendtxt")[0].value });
			$("#sendarea").append($("#sendtxt")[0].value + "\n");
			//socket_m.emit('message', data);
		});
	});
</script>


<!-- Callout for the old docs link -->

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-3">
			<div class="bs-docs-sidebar hidden-print affix-top" role="complementary">
				
				<!-- <ul class="nav bs-sidenav"> -->
				<ul class="nav bs-sidenav">

          			<form action="/project/create" method="get">
						<div class="alert alert-info" role="alert">
									工程列表
									<div class="input-group">
										  <input type="text" class="form-control" name="name"/>
											<span class="input-group-btn">
												  <button type="submit" class="btn btn-default submit">
														<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
									</div><!-- /input-group -->
						 </div>
					 </form>
					<li class="active">
					<ul class="nav">
						<% for (x in rows) {%>
						<li class="">
							<a href="#overview-doctype"><%=rows[x].name %></a>
						</li>
						<% } %>
					</ul>
					</li>
				</ul>
			</div>
		</div>


	<!-- begin -->
	<div class="col-md-9" role="main">

		<div class="page-header">
			<h1 id="download">工程</h1>

		</div>

		<div class="row">
			<div class="col-md-8 panel panel-default">
				<button type="button" class="btn btn-primary">Primary</button>
				<button type="button" class="btn btn-success">Success</button>
				<button type="button" class="btn btn-info">Info</button>
				<button type="button" class="btn btn-warning">Warning</button>
				<button type="button" class="btn btn-danger">Danger</button>
			</div>

			<div class="col-md-4">
				<form action="/task/create" method="get">
					<div class="col-md-8">
						<input type="text" class="form-control" name="name"/>
					</div>
					<input type="hidden" name="project_id"  value="123" />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default submit">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</span>
				</form>
			</div>
		</div>

		<div class="row panel panel-default">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#res" data-toggle="tab">任务</a></li>
				<li><a href="#res1" data-toggle="tab">功能属性</a></li>
			</ul>
			 <div class="tab-content tip-example">
				 <div class="tab-pane active" id="res">
					 <% for (x in taskrows) { %>
					 <div class="bs-callout bs-callout-danger">
						 <%=taskrows[x].name%>	
					 </div>
					 <% } %>
				 </div>
				<div class="tab-pane" id="res1">
					12
				</div>
			</div>
		</div>       

	</div>
</div>

<% include footer.html %>
